	*{
		padding:0px 0px 0px 0px;
		margin:0px 0px 0px 0px;
		text-align:center;
	}
	body{
		width:100%;
		height:100%;
		//text-align:center;
		background:#ffffff;
	}
	input{
		display:block;
		margin:auto;
		margin-bottom:5px;
		height:20px;
		border-radius:8px;
		border:0.5px solid;
		color:green;
		font-size:15px;
	}
	#main_container{
		width:100%;
		height:100%;
		text-align:center;
		background:#ffffff;
	}
	#header{
		height:3%;
		width:100%;		
	}
	#main{
		height:90%;
		width:100%;		
		margin:auto;
	}
	#footer{
		height:3%;
		width:100%;
	}
	#leftside{
		width:50%;
		height:100%;
		float:left;
	}
	#rightside{
		width:50%;
		height:100%;
		float:right;
	}
	
	#viewer_zone,#editor_zone{
		height:50%;
	}
	#quiz_text_zone{
		height:20%;
	}
	#quiz_example_zone{
		height:45%;
		width:100%;
		text-align:center;
	}
	#quiz_check{
		height:30%;
	}
	textarea, iframe{
		border-width:0px;
		transition:opacity 2s,height 2s,width 2s;
		width:100%;
	}
	
	@keyframes clockColor{
		0%{		color:#8700ff;	 }
		50%{	color:#ed9b00;	 }
		100%{	color:#ff0000;	 }
	}
	@font-face{
		font-family:digital;
		src: url('digital-7.ttf');
	}
	#clockBar{
		animation:clockColor;
		animation-duration:10s;
		//color: #ff0000;
	    font-size:40px;
		font-family:digital;
	}

	button{
		text-align:center;
		color:green;
		font-size:15px;
	}
	
	
div.heading{
	color:#ffffff;
	border:1px solid 56ab2f;
	border-top-right-radius:0.3em;
	border-top-left-radius:0.3em;
	margin-top:3px;
	margin-right:3px;
	margin-left:3px;
	padding:1px 2px 1px 2px;
	
	background: #56ab2f; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #56ab2f , #a8e063); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #56ab2f , #a8e063); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}
div.content{
	//background-color:rgb(255, 248, 255);
	color:#40109e;
	border:1px solid #56ab2f;
	border-bottom-right-radius:0.3em;
	border-bottom-left-radius:0.3em;
	margin-bottom:3px;
	margin-right:3px;
	margin-left:3px;
	padding:2px 2px 2px 2px;
}